sudo: false
language: minimal

services:
    - docker

jobs:
    include:
        - stage: code quality (does nothing yet)
          script: true
        - stage: compile-lilypond
          script: pushd scores && make && popd
