sudo: false
language: minimal
install:
    - mkdir tmp && pushd tmp
    - wget http://lilypond.org/download/binaries/linux-64/lilypond-2.19.82-1.linux-64.sh
    - sh lilypond-2.19.82-1.linux-64.sh --batch
    - popd && rm -r tmp
    - mkdir tmp && pushd tmp
    - wget https://bitbucket.org/georgd/eb-garamond/downloads/EBGaramond-0.016.zip
    - unzip EBGaramond-0.016.zip
    - mkdir -p $HOME/.fonts
    - cp EBGaramond-0.016/otf/*.otf $HOME/.fonts/
    - popd && rm -r tmp
    - export PATH=$PATH:$HOME/bin
jobs:
    include:
        - stage: code quality (does nothing yet)
          script: true
        - stage: compile-lilypond
          script: pushd scores && make && popd
        - stage: deploy
          script: pushd scores && make deploy && popd
